<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blind">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_stickman_impaired"
        android:label="Sahara"
        android:roundIcon="@mipmap/ic_launcher_stickman_impaired_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Messages">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Messages" />
        </activity>
        <activity android:name=".Battery">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Battery" />
        </activity>
        <activity android:name=".Music">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Music" />
        </activity>
        <activity android:name=".Contacts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Contacts" />
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>